body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}
.container{
    background-color: aliceblue;
    height: 500px;
    width: 450px;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 12px 20px 5px rgb(216, 216, 216);

}